<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<html lang="en">
<head>
{% ifequal error "no" %}
<script>
alert("Recorded Successfully")
window.location.href='/home'
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
alert("Sorry,Try again")
</script>
{% endifequal %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grievance Redressal System | DayFORCE</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<form method="POST" class="container center" style="width: 33%; padding: 40px; top: 50%; left: 50%;">
{% csrf_token %}
<body background="https://wallpapercave.com/wp/wp2757874.gif">

    <h1 class="main_head">Grievance Redressal System</h1>
<hr>

<p> Name:*
    <br><input type="text" name="t1" required placeholder="Enter Your Name">
</p>
  
<p>    
    Email*: <br>
    <input type="email" name="t2" id="email" required placeholder="Email Please">
</p>


Contact:*<br><input type="number" name="t3" required placeholder="Enter your contact number">
</p>
    <p>Grievance Type:*<br>
        <select name="card1" id="" required>
            <option value="--">--Select A Grievance Type--</option>
            <option value="sch">Schedule</option>
            <option value="mr">Meeting Room</option>
            <option value="other">Other</option>
        </select>
    </p>
    <p>
        Grievance Details:* <br>
        <textarea name="detail" id="" cols="100" rows="5" required placeholder="Explain Your Grievance"></textarea>
    </p>  
<input type="submit" value="Register A Grievance">
</p></form>
</body>
</html>