<html>
{% load static %}

<head>
{% ifequal error "no" %}
<script>
alert("Register Successfully")
window.location.href='/home'
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
alert("Sorry,Try again")
</script>
{% endifequal %}

    <title>Register | DayFORCE</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body background="https://cutewallpaper.org/21/gif-background-html/15-CSS-Animated-Backgrounds-Pintire.gif">
    <form method="POST"  class="container center" style="width: 33%; padding: 25px 50px 25px 50px; top: 50%; left: 50%;">
{% csrf_token %}
<h1 class="main_head">Employee Registration</h1>
<hr>
<p>Name:*
    <br><input type="text" name="t1" required placeholder="Enter Your Name">
</p>

</p>

<p>    
    Email*: <br>
    <input type="email" name="t2" id="email" required placeholder="Email Please">
</p>

<p>Password:*<br><input type="password" required placeholder="Enter your password" name="t3">
</p> 
<p>   
Contact:*<br><input type="number" name="t4" required placeholder="Enter your contact number">
<p>
<input type="submit" value="Register">
</p></form>
</body>
</html>