<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Schedule | DayFORCE</title>
  </head>
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    </style>

 <body>
  <div class="w3-top">
    <div class="w3-bar w3-card w3-left-align w3-large  " style="padding-left: 30.5%; background-color: crimson;">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="http://127.0.0.1:8000/scheduleal" class="w3-bar-item w3-button w3-padding-large w3-white">Schedule</a>
      <a href="http://127.0.0.1:8000/homeal"  class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
      <a href="http://127.0.0.1:8000/aboutal" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
      <a href="http://127.0.0.1:8000/calenderal" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Calendar</a>
      <a href="http://127.0.0.1:8000/more" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">More</a>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="http://127.0.0.1:8000/home" class="w3-bar-item w3-button w3-padding-large">Home</a>
      <a href="http://127.0.0.1:8000/about" class="w3-bar-item w3-button w3-padding-large">About</a>
      <a href="http://127.0.0.1:8000/calender" class="w3-bar-item w3-button w3-padding-large">Calendar</a>
      <a href="http://127.0.0.1:8000/more" class="w3-bar-item w3-button w3-padding-large">Demo</a>
    </div>
  </div>
  <div style="background-repeat: no-repeat; background-size: cover; background-image: url(../static/images/schedule.png);">
  <header class="w3-container w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Schedule</h1>
    <p class="w3-xlarge">"Your daily schedule here"</p>
    
  </header>
</div>
  <img src="https://s3.amazonaws.com/thumbnails.venngage.com/template/ecddfe31-e5bf-4385-ba75-64b241852e0b.png" alt="Schedule" width="100%">
 </body>
   
    </html>
